body{
    color: white;
    background: black;
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
.chamada{
    color: rgb(50, 130, 230);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    background: rgb(184,156,213);
}
.chamada-texto{
    margin-right:10% ;
}

h1{
    font-size: 35px;
}

p{
    font-size: 25px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.categoria{
    
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 50px;

}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{

    opacity: 1.0;
    border: 1px solid greenyellow;

}
.categoria h2{
    color: rgb(42, 122, 228);
    padding-left: 30px;

}